*{

    margin: 0;
    padding: 0;
}

@media only screen and (max-width:992px){
    body {
      background-color: grey;
      width: auto;
      text-align: center;
      font-family: sans-serif;
    }

    a {
      color: white;
    }
     h1 {
        color: white;
        font-size: 2em;
     }
     h2 {
        color: white;
        text-align: start;
        font-size: large;
     }
     h3 {
      color: white;
      font-size: large;
     }
     .con{
      background-color: #333;
      opacity: 70%;
      height: 5.5em;
      width: 525px;
      text-align: center;
    }
    .icon {
   
      display: block;
      top: 5%;
      right: 92%;
      width: 30px;
      height: 30px;
      color: white;
  }
     .info{
      text-align: left;
     }
     .form {
      text-align: left;
     }

     footer {
        
        position: fixed;
        bottom: 0;
        font-size:medium;
     }
     nav {
      position: absolute;
      top: 100px;
      right: 40px;
      width: 200px;
     }
     .navigation {
      position: fixed;
      opacity: 85%;
      width: 350px;
      right: -500px;
      height: 100%;
      background-color:#333;
      transition: .5s;
     }
     .navigation ul li {
      text-align: right;
      text-transform: uppercase;
      list-style-type: none;
      font-size: 1.5em;
      padding: 20px 30px;
      border-bottom: 1pt solid #252525;
     }
     .hamburger, .bar {
      position: fixed;

     }
     /* styling av hamburgar ikon*/
     .hamburger {
      display: block;
      top: 5%;
      left: 92%;
      width: 30px;
      height: 30px;
      transform: translate(-50%);
      border: 0;
      background: 0 0;
     }
   
     /*meny ikon */
     .bar {
      top: 3px;
      background: white;
      width: 100%;
      height: 3px;
      transition: all .3s ease-in;
     }

     #bar2 {
      top: 11px;
     }
     #bar3{
      top: 19px;
     }
     .navigation.active {
      right: 0;
     }
     .hamburger.open.bar1 {
      background-color: white;
      transform: rotate(45deg) translate(6px, 5px);
     }
     .hamburger.open.bar2 {
      background-color: transparent;
     }
     .hamburger.open.bar3 {
      background-color: white;
      transform: rotate(-45deg) translate(6px,-5px);
     }
     .thenav {
      display: none;
     }

     
}

@media only screen and (min-width:992px) {
   
    body {
        background-color: grey;
        font-family: sans-serif;
    }
    a {
        color: white;
    }
     h1 {
        color: white;
        font-size: 30px;
     }
     h2 {
        color: white;
        font-size: 25px;
     }
     h3{
        color: white;
        font-size: 22px;
     }
     footer {
      font-size: medium;
     }
     .con{
        background-color: #333;
        height: 3.5em;
        text-align: center;
     }
     .icon {
      display: flex;
      justify-content: left;
      color: white;
      }
     .thenav {
        background-color: #333;
        overflow: hidden;
        height: 3.5em;
        display: flex;
        flex-direction: row-reverse;
     }
     .thenav a {
        float: left;
        color: white;
        text-align: center;
        padding: 12px 14px;
        text-decoration: none;
        font-size: 20px;
     }
     .thenav a:hover {
        background-color: white;
        color: black;
     }
     .navigation{
      display: none;
     }
 }